@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #149ae2;
  --secondary-color: rgb(58, 54, 56);
  --secondary-color-hover: rgb(29, 25, 27);
  --text-color: white;
  --success-color: rgb(2, 182, 2);
}

.container-container-form {
  font-size: 2vw;
  margin: 2% auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    231deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 41, 41, 0.8435749299719888) 0%,
    rgba(0, 0, 0, 0.8435749299719888) 100%
  );
  padding: 3vh;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(50, 50, 50, 1);
}

.container-container-form h3 {
  font-weight: 800;
  font-family: var(--font-family);
}

.input-field,
.textarea-field,
.submit-button {
  margin-bottom: 8px;
  font-family: var(--font-family);
}

.input-field {
  width: calc(100% - 40px);
  height: 20%;
  color: black;
  border-radius: 18px;
  text-align: center;
  border: none;
}

.input-field::placeholder {
  color: grey;
  text-align: center;
}

.textarea-field {
  height: 50%;
}

.submit-button {
  height: 40px;
  font-size: 16px;
  width: 40%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input::placeholder {
  content: attr(placeholder) "\00a0"attr(data-icon);
  font-family: FontAwesome, sans-serif;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.input-field::placeholder,
.textarea-field::placeholder {
  text-align: center;
}

.submit-button {
  background: linear-gradient(to right, #333, #272727);
}
.input-field:hover,
.textarea-field:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

.typed-message {
  margin-top: 2%;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  height: 100px;
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .container-container-form {
    font-size: 2em;
  }
}

@media only screen and (max-width: 480px) {
  .container-container-form {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 360px) {
  .container-container-form {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 320px) {
  .container-container-form {
    font-size: 3vw;
  }
  .typed-message {
    font-size: 0.5em !important;
  }
}

@media only screen and (max-width: 768px) {
  .typed-message {
    font-size: 1em;
  }
}

.typed-cursor {
  display: none;
}
