@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #149ae2;
  --secondary-color: rgb(58, 54, 56);
  --secondary-color-hover: rgb(29, 25, 27);
  --text-color: white;
  --success-color: rgb(2, 182, 2);
}

.container-container-form {
  font-size: 2vw;
  margin: 10% auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 46, 1) 29%,
    rgba(5, 4, 77, 1) 85%
  );
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container-container-form h3 {
  font-weight: 800;
  font-family: var(--font-family);
}

.input-field,
.textarea-field,
.submit-button {
  margin-bottom: 8px;
  font-family: var(--font-family);
}

.input-field {
  width: calc(100% - 40px);
  height: 40px;
  color: black;
  border-radius: 18px;
  text-align: center;
  border: none;
}

.input-field::placeholder {
  color: grey;
  text-align: center;
}

.textarea-field {
  height: 80px;
}

.submit-button {
  height: 40px;
  font-size: 16px;
  width: 40%;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--secondary-color-hover);
}

input::placeholder {
  content: attr(placeholder) "\00a0"attr(data-icon);
  font-family: FontAwesome, sans-serif;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.input-field::placeholder,
.textarea-field::placeholder {
  text-align: center;
}

.submit-button {
  background: linear-gradient(to right, var(--primary-color), #007bff);
}
.input-field:hover,
.textarea-field:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}
