.mainpage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 3%;
  margin-top: 3%;
}

.middle-side-main {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-main {
  flex: 0.3;
}

.img-main-table {
  max-width: 100%;
  height: auto;
}
